@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: lightsteelblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 450px;
  height: 180px;
  background: lightcyan;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.container h1 {
  font-size: 24px;
  color: slategrey;
  margin-top: 20px;
}

.speed-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-speed input {
  padding: 5px 8px;
  width: 120px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.my-speed input::placeholder {
  color: #ccc;
}

.speed-limit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 280px;
}

.speed-sign {
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
}

button {
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  background: slategray;
  color: #fff;
}

.total {
  margin-top: 20px;
  width: 240px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  bottom: 20px;
  position: absolute;
}

.money h2,
.points h2 {
  font-size: 18px;
}

.money p,
.points p {
  text-align: center;
}
